body {

    width: 100%;

}



header {

    background-image:url(./images/desktop/image-hero.jpg) ;

    background-size: 100% 100%;

    background-repeat: no-repeat;

    height: 55vh;

    margin-bottom: 50px;

    padding: 0px;

}



body{

    height: 100dvh;

}



.navbar-brand {

    text-decoration: none;

    color: white;

    font-size: 1.4em;

    font-weight: bold;

    margin-top: 10px;

    margin-left: 20px;

}



.collapse {

    position: absolute;

    right: 20px;

    top: 10px;

}



#nav-list {

    display: flex;

    gap: 17px;

    align-items: center;

    margin-top: 10px;

}



.nav-item a {

    text-decoration: none;

    color: white;

}



#container {

    padding: 0px 20px;

}



#statement {

    border: 1px white solid;

    padding: 20px;

    font-size: 2.5em;

    color: white;

    text-align: center;

    display: inline-block;

    width: 370px;

    margin-left: 70px;

    text-align: start;

    text-transform: uppercase;

    line-height: 1;

    font-weight: lighter;

    margin-top: 50px;

}



#interactivevr {

    position: relative;

    display: flex;

}



#interactiveText {

    padding: 96px 0px 0px 96px;

    position: absolute;

    right: 0;

    width: 35rem;

    display: flex;

    align-self: flex-end;

    flex-direction: column;

    gap: 1.4em;

    background-color: white;

    color: rgb(97, 93, 93);

}



#interactiveText h2 {

    font-size: 3em;

    text-transform: uppercase;

    font-weight: lighter;

    color: black;

}



#creations {

    display: flex;

    justify-content: space-between;

    margin: 80px 50px 20px 0px;

}



#creationsText {

    text-transform: uppercase;

    font-size: 1.6em;

    font-weight: lighter;

}



#seeAllDesktop {

    text-transform: uppercase;

    font-size: 0.9em;

    font-weight: 300;

    padding: 6px 30px 2px 30px;

    border: 1px solid black;

    border-top:1px solid black ;

    letter-spacing: 2px;

    transition: all 0.5s;

}



#seeAllDesktop:hover {

    padding: 6px 30px 2px 30px;

    background-color: black;

    color: white;

}



#seeAllMobile {

    display: none;

}



#creationsImageCont {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    position: relative;

    row-gap: 9px;

    column-gap: 9px;

}



#creationsImageCont a {

    position: relative;

}



#creationsImageCont a img {

    width: 100%;

    height: 100%;

}



.creations-mobile {

    display: none;

}



.creations-desktop {

    display: flex;

}



#description {

    position: absolute;

    bottom: 0;

    left: 20px;

    text-decoration: none;

    color: white;

    text-transform: uppercase;

    font-size: 2.3em;

    font-weight: 200;

    line-height: 45px;

}





@media screen and (max-width: 767px) {



    .navbar-toggler-icon {

        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

    }



    #interactivevr {

        display: block;

    }



    #interactivevr img{

        width: 100%;

    }



    #interactiveText {

        padding: 0px;

        position: relative;

        width: 100%;

        display: flex;

        background-color: transparent;

        padding: 50px 50px 0px 50px;

        text-align: center;

    }



    #interactiveText h2 {

        font-size: 1.8em;

        text-align: center;

        letter-spacing: 1px;

    }



    #statementCont {

        display: flex;

        justify-content: center;

    }

    

    #statement {

        border: 1px white solid;

        padding: 10px 20px;

        font-size: 2em;

        color: white;

        display: inline-block;

        width: 300px;

        margin-left: 0px;

        text-transform: uppercase;

        line-height: 1;

        font-weight: lighter;

        margin-top: 50px;

    }



    #seeAllMobile {

        display: block;

        justify-self: center;

        text-transform: uppercase;

        font-size: 0.9em;

        font-weight: 300;

        padding: 6px 30px 2px 30px;

        border: 1px solid black;

        border-top:1px solid black ;

        letter-spacing: 2px;

        transition: all 0.5s;

    }



    #seeAllMobile:hover {

        padding: 6px 30px 2px 30px;

        background-color: black;

        color: white;

    }



    #seeAllDesktop {

        display: none;

    }



    .creations-mobile {

        display: flex;

    }

    

    .creations-desktop {

        display: none;

    }



    #creationsImageCont {

        grid-template-columns: 1fr;

    }



    #description {

        font-size:2em ;

        bottom: 18%;
    }

    

    #navbarContainer {

        padding: 8% 0% 0% 5%;

        background-color: black;

        color: white;

    }



    #navbarContainer #loopCont {

        display: flex;

        justify-content: space-between;

        margin-bottom: 60px;

    }



    #navbarContainer #closeIcon {

        position: relative;

        height: 20px;

        margin-right: 40px;

        top: 20px;

    }



    #navbarContainer p {

        font-size: 1.7em;

        margin-left: 3px;

        font-weight: bold;

    }



    #navbarContainer .navbar-nav {

        font-size: 1.2em;

        text-transform: uppercase;

    }



    #navbarContainer .nav-item a {

        color: rgb(207, 203, 203);

        margin-top: 10px;

        font-size: 0.9em;

    }

    }
